In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

In [2]:
data = {
    'Order_ID': [1, 2, 3, 4, 5],
    'Customer_ID': [101, 102, 103, 104, 105],
    'Restaurant_ID': [201, 202, 203, 204, 205],
    'Order_Date': [datetime(2023, 8, 1), datetime(2023, 8, 2), datetime(2023, 8, 3), datetime(2023, 8, 4), datetime(2023, 8, 5)],
    'Order_Time': ['12:30:00', '18:45:00', '19:20:00', '13:15:00', '09:30:00'],
    'Food_Item': ['Burger', 'Sushi', 'Pasta', 'Pizza', 'Salad'],
    'Quantity': [2, 1, 3, 1, 1],
    'Price': [12.99, 18.50, 10.99, 14.99, 7.99],
    'Delivery_Time(min)': [30, 45, 40, 35, 25],
    'Rating': [4.5, 4.0, 5.0, 3.5, 4.0]
}

In [3]:
uber_eats_df = pd.DataFrame(data)

In [4]:
uber_eats_df

,Order_ID,Customer_ID,Restaurant_ID,Order_Date,Order_Time,Food_Item,Quantity,Price,Delivery_Time(min),Rating
0,1,101,201,2023-08-01,12:30:00,Burger,2,12.99,30,4.5
1,2,102,202,2023-08-02,18:45:00,Sushi,1,18.50,45,4.0
2,3,103,203,2023-08-03,19:20:00,Pasta,3,10.99,40,5.0
3,4,104,204,2023-08-04,13:15:00,Pizza,1,14.99,35,3.5
4,5,105,205,2023-08-05,09:30:00,Salad,1,7.99,25,4.0

#### What will the size attribute return when applied to the uber_eats_df DataFrame?

In [5]:
uber_eats_df.size

50

#### How would you verify if the size attribute counts the number of rows, columns, or individual elements in the DataFrame?

In [6]:
len(uber_eats_df) * len(uber_eats_df.iloc[0]) == uber_eats_df.size

True

#### If you apply a filter to uber_eats_df to only include rows where Rating is greater than or equal to 4.5, what will the size attribute return for the filtered DataFrame?

In [7]:
uber_eats_df.loc[uber_eats_df['Rating'] >= 4.5].size

20

#### Compare the output of uber_eats_df.size and uber_eats_df.shape. What mathematical operation could you apply to the values in shape to derive the value of size?

In [8]:
uber_eats_df.size

50

In [9]:
uber_eats_df.shape

(5, 10)

In [10]:
uber_eats_df.shape[0] * uber_eats_df.shape[1]

50

#### If you select only the 'Food_Item' and 'Price' columns from uber_eats_df, what will be the output of the size attribute?

In [11]:
uber_eats_df[['Food_Item', 'Price']].size

10

#### How would the size attribute change if you dropped a row from uber_eats_df? Can you confirm this by coding it?

In [12]:
df_temp = uber_eats_df.copy()

In [13]:
df_temp = df_temp.drop(4)

In [14]:
df_temp.size

40

#### Create a Series object by selecting the Price column from uber_eats_df. What does the size attribute show for this Series object?

In [15]:
uber_eats_df[['Price']].size

5

#### Does the size attribute include NaN values if they were present in the DataFrame? (You might want to modify the DataFrame to include a NaN value to answer this question.)

In [16]:
uber_eats_df.iloc[4, 3] = np.nan

In [17]:
uber_eats_df.size

50

#### How would the output of uber_eats_df.size change if you added a new column to the DataFrame? Can you confirm your answer by coding it?

In [18]:
df_temp = uber_eats_df.copy()

In [19]:
df_temp['Location'] = pd.Series(['NY', 'SF', 'TX', 'NJ', 'WA'])

In [20]:
df_temp

,Order_ID,Customer_ID,Restaurant_ID,Order_Date,Order_Time,Food_Item,Quantity,Price,Delivery_Time(min),Rating,Location
0,1,101,201,2023-08-01,12:30:00,Burger,2,12.99,30,4.5,NY
1,2,102,202,2023-08-02,18:45:00,Sushi,1,18.50,45,4.0,SF
2,3,103,203,2023-08-03,19:20:00,Pasta,3,10.99,40,5.0,TX
3,4,104,204,2023-08-04,13:15:00,Pizza,1,14.99,35,3.5,NJ
4,5,105,205,NaT,09:30:00,Salad,1,7.99,25,4.0,WA

In [21]:
df_temp.size

55