In [1]:
import pandas as pd

In [2]:
data = {
'Shop_Name': ['Starbucks', 'Blue Bottle', 'Dunkin', 'Peets', 'Starbucks', 'La Colombe', 'Blue Bottle', 'Peets', 'Starbucks', 'Dunkin'],
'Location': ['Hollywood', 'San Diego', 'San Diego', 'Hollywood', 'New York', 'New York', 'Hollywood', 'San Diego', 'New York', 'Hollywood'],
'Rating': [4.5, 4.7, 4.1, 4.3, 4.5, 4.8, 4.6, 4.2, 4.4, 3.9],
'Type': ['Chain', 'Independent', 'Chain', 'Chain', 'Chain', 'Independent', 'Independent', 'Chain', 'Chain', 'Chain']
}

In [3]:
coffee_shops = pd.DataFrame(data)

In [4]:
coffee_shops

     Shop_Name   Location  Rating         Type
0    Starbucks  Hollywood     4.5        Chain
1  Blue Bottle  San Diego     4.7  Independent
2       Dunkin  San Diego     4.1        Chain
3        Peets  Hollywood     4.3        Chain
4    Starbucks   New York     4.5        Chain
5   La Colombe   New York     4.8  Independent
6  Blue Bottle  Hollywood     4.6  Independent
7        Peets  San Diego     4.2        Chain
8    Starbucks   New York     4.4        Chain
9       Dunkin  Hollywood     3.9        Chain

#### 1) Group by the Location column and calculate the mean of the Rating for each location. Which location has the highest average rating?

In [5]:
rating_means = coffee_shops.groupby('Location').agg({'Rating':'mean'})

In [6]:
rating_means

             Rating
Location
Hollywood  4.325000
New York   4.566667
San Diego  4.333333

In [7]:
rating_means.sort_values('Rating', ascending=False).iloc[0]

Rating    4.566667
Name: New York, dtype: float64

#### 2) Group by the Type column and calculate the total count of each type. Which type of coffee shop is most prevalent?

In [8]:
coffee_shops.groupby('Type').agg({'Shop_Name':'count'})

             Shop_Name
Type
Chain                7
Independent          3

In [9]:
coffee_shops.groupby('Type').agg({'Shop_Name':'count'}).sort_values('Shop_Name').iloc[-1]

Shop_Name    7
Name: Chain, dtype: int64

#### 3) Group the data by both Location and Type. What's the maximum rating a 'Chain' coffee shop received in 'Hollywood'?

In [10]:
ratings_loc_type = coffee_shops.groupby(['Location', 'Type']).agg({'Rating':'max'})

In [11]:
ratings_loc_type

                       Rating
Location  Type
Hollywood Chain           4.5
          Independent     4.6
New York  Chain           4.5
          Independent     4.8
San Diego Chain           4.2
          Independent     4.7

In [12]:
ratings_loc_type.sort_values('Rating', ascending=False).iloc[0]

Rating    4.8
Name: (New York, Independent), dtype: float64

#### 4) By grouping based on the Shop_Name column, can you calculate the range (max-min) of Rating each shop received?

In [17]:
coffee_shops.loc[:, ['Shop_Name', 'Rating']].sort_values('Shop_Name')

     Shop_Name  Rating
1  Blue Bottle     4.7
6  Blue Bottle     4.6
2       Dunkin     4.1
9       Dunkin     3.9
5   La Colombe     4.8
3        Peets     4.3
7        Peets     4.2
0    Starbucks     4.5
4    Starbucks     4.5
8    Starbucks     4.4

In [14]:
coffee_shops.groupby('Shop_Name').agg({'Rating': lambda x : x.astype(float).max() - x.astype(float).min()})

             Rating
Shop_Name
Blue Bottle     0.1
Dunkin          0.2
La Colombe      0.0
Peets           0.1
Starbucks       0.1

#### 5) Group by the Location and find the shop with the highest rating in each location.

In [22]:
coffee_shops.groupby('Location').max().loc[:, 'Shop_Name']

Location
Hollywood    Starbucks
New York     Starbucks
San Diego        Peets
Name: Shop_Name, dtype: object

#### 6) Calculate the median rating for each Shop_Name by grouping based on the shop name. Which shop has the median rating of 4.5?

#### 7) Group by Type and find the standard deviation of Rating for both 'Independent' and 'Chain' shops. Which type has a more consistent rating?

#### 8) After grouping by Location, find the total number of reviews each location received (assuming each row is a unique review).

#### 9) Group by both Location and Type and calculate the sum of the Rating. Which combination of location and type has the highest total rating?

#### 10) Group by Location and find out the 25th percentile of the Rating for each location.