In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'Coffee_Shop': ['Brewed Awakening', 'Coffee Cloud', 'Bean Dream', 'Espresso Express', 'Latte Love',
    'Mocha Magic', 'Cafe Comfort', 'Seattle Sip', 'Drip Drop', 'Grind Ground'],
    'Location': ['Downtown', 'Capitol Hill', 'Green Lake', 'Ballard', 'West Seattle',
    'Fremont', 'Queen Anne', 'Belltown', 'University District', 'Magnolia'],
    'Avg_Rating': [4.5, 4.2, 5.0, 4.8, 4.6, 4.3, 4.9, 4.0, 4.7, 4.6],
    'Coffee_Type': ['Espresso', 'Latte', 'Cappuccino', 'Americano', 'Cold Brew',
    'Macchiato', 'Espresso', 'Latte', 'Drip Coffee', 'Americano'],
    'Tables_Available': [5, 8, 6, 7, 5, 9, 7, 8, 6, 5]
}

In [3]:
coffee_shops_df = pd.DataFrame(data)

In [4]:
coffee_shops_df

,Coffee_Shop,Location,Avg_Rating,Coffee_Type,Tables_Available
0,Brewed Awakening,Downtown,4.5,Espresso,5
1,Coffee Cloud,Capitol Hill,4.2,Latte,8
2,Bean Dream,Green Lake,5.0,Cappuccino,6
3,Espresso Express,Ballard,4.8,Americano,7
4,Latte Love,West Seattle,4.6,Cold Brew,5
5,Mocha Magic,Fremont,4.3,Macchiato,9
6,Cafe Comfort,Queen Anne,4.9,Espresso,7
7,Seattle Sip,Belltown,4.0,Latte,8
8,Drip Drop,University District,4.7,Drip Coffee,6
9,Grind Ground,Magnolia,4.6,Americano,5

#### How would you use the clip method to ensure that all Avg_Rating values in the coffee_shops_df are between 4.0 and 4.5

In [5]:
temp = coffee_shops_df.copy()
temp.loc[:, 'Avg_Rating'] = coffee_shops_df.loc[:, 'Avg_Rating'].clip(4.0, 4.5)
temp

,Coffee_Shop,Location,Avg_Rating,Coffee_Type,Tables_Available
0,Brewed Awakening,Downtown,4.5,Espresso,5
1,Coffee Cloud,Capitol Hill,4.2,Latte,8
2,Bean Dream,Green Lake,4.5,Cappuccino,6
3,Espresso Express,Ballard,4.5,Americano,7
4,Latte Love,West Seattle,4.5,Cold Brew,5
5,Mocha Magic,Fremont,4.3,Macchiato,9
6,Cafe Comfort,Queen Anne,4.5,Espresso,7
7,Seattle Sip,Belltown,4.0,Latte,8
8,Drip Drop,University District,4.5,Drip Coffee,6
9,Grind Ground,Magnolia,4.5,Americano,5

#### If you wanted to clip only the lower bound of Tables_Available to 6 without changing the upper values, how would you do it?

In [6]:
temp = coffee_shops_df.copy()

In [7]:
temp.loc[:, 'Tables_Available'] = temp.loc[:, 'Tables_Available'].clip(lower=6)

In [8]:
temp

,Coffee_Shop,Location,Avg_Rating,Coffee_Type,Tables_Available
0,Brewed Awakening,Downtown,4.5,Espresso,6
1,Coffee Cloud,Capitol Hill,4.2,Latte,8
2,Bean Dream,Green Lake,5.0,Cappuccino,6
3,Espresso Express,Ballard,4.8,Americano,7
4,Latte Love,West Seattle,4.6,Cold Brew,6
5,Mocha Magic,Fremont,4.3,Macchiato,9
6,Cafe Comfort,Queen Anne,4.9,Espresso,7
7,Seattle Sip,Belltown,4.0,Latte,8
8,Drip Drop,University District,4.7,Drip Coffee,6
9,Grind Ground,Magnolia,4.6,Americano,6

#### What happens to the original DataFrame after using the clip method? Is it modified in place or do you get a new DataFrame?

In [9]:
# depends on the argument 'inplace' to clip method

#### Can the clip method be applied to string data in a DataFrame?

In [10]:
# No, cant use

#### How would you clip all numerical columns in a DataFrame at once?

In [11]:
coffee_shops_df.select_dtypes(include=[np.number]).clip(4.4, 8)

   Avg_Rating  Tables_Available
0         4.5                 5
1         4.4                 8
2         5.0                 6
3         4.8                 7
4         4.6                 5
5         4.4                 8
6         4.9                 7
7         4.4                 8
8         4.7                 6
9         4.6                 5

#### What's the difference between using the clip method and using conditional statements to limit data range?

In [12]:
# With conditional statements, we get only the rows matching the range
# with clip, we can get all the data, with the required clip values for the cells

In [13]:
coffee_shops_df.loc[(coffee_shops_df['Avg_Rating'] < 4.0) | (coffee_shops_df['Avg_Rating'] > 4.4)]

,Coffee_Shop,Location,Avg_Rating,Coffee_Type,Tables_Available
0,Brewed Awakening,Downtown,4.5,Espresso,5
2,Bean Dream,Green Lake,5.0,Cappuccino,6
3,Espresso Express,Ballard,4.8,Americano,7
4,Latte Love,West Seattle,4.6,Cold Brew,5
6,Cafe Comfort,Queen Anne,4.9,Espresso,7
8,Drip Drop,University District,4.7,Drip Coffee,6
9,Grind Ground,Magnolia,4.6,Americano,5

In [14]:
temp = coffee_shops_df.copy()
temp.loc[:, 'Avg_Rating'] = coffee_shops_df.loc[:, 'Avg_Rating'].clip(4.0, 4.4)
temp

,Coffee_Shop,Location,Avg_Rating,Coffee_Type,Tables_Available
0,Brewed Awakening,Downtown,4.4,Espresso,5
1,Coffee Cloud,Capitol Hill,4.2,Latte,8
2,Bean Dream,Green Lake,4.4,Cappuccino,6
3,Espresso Express,Ballard,4.4,Americano,7
4,Latte Love,West Seattle,4.4,Cold Brew,5
5,Mocha Magic,Fremont,4.3,Macchiato,9
6,Cafe Comfort,Queen Anne,4.4,Espresso,7
7,Seattle Sip,Belltown,4.0,Latte,8
8,Drip Drop,University District,4.4,Drip Coffee,6
9,Grind Ground,Magnolia,4.4,Americano,5

#### Why might you use the clip method in data preprocessing?

In [15]:
# to remove outlier values, or use the value only in given range