In [1]:
import pandas as pd

#### Create a dictionary with three keys, 'A', 'B', and 'C', and lists of 10 numbers as values

In [2]:
data = {}

data['A'] = list(range(10))
data['B'] = list(range(10, 20))
data['C'] = list(range(20, 30))

#### Convert the dictionary to a pandas DataFrame

In [3]:
df1 = pd.DataFrame(data)
df1.head()

   A   B   C
0  0  10  20
1  1  11  21
2  2  12  22
3  3  13  23
4  4  14  24

### using .loc with DataFrame

#### 1) Basic Indexing: How would you use loc to get all the values in the row where the index is 2?

In [4]:
df1.loc[2]

A     2
B    12
C    22
Name: 2, dtype: int64

#### 2) Multiple Columns: How would you use loc to retrieve the values in columns 'A' and 'C' for the rows with indices 1 and 3?

In [5]:
df1.loc[[1,3], ['A', 'C']]

   A   C
1  1  21
3  3  23

#### 3) Conditional Filtering: How can you use loc to filter rows where the values in column 'B' are greater than or equal to 13 and only show column 'A' for those rows?

In [6]:
df1.loc[ df1['B'] > 13, ['A'] ]

   A
4  4
5  5
6  6
7  7
8  8
9  9

#### 4) Row and Column Together: How would you use loc to get the value located in the row with index 4 and column 'B'?

In [7]:
df1.loc[4, 'B']

14

#### 5) Modify Values: How would you use loc to change the value in the row where the index is 0 and the column is 'C' to 99?

In [8]:
df1.loc[0, 'C'] = 99

In [9]:
df1.head()

   A   B   C
0  0  10  99
1  1  11  21
2  2  12  22
3  3  13  23
4  4  14  24