In [1]:
import pandas as pd

In [2]:
data = {
'Store_ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
'Store_Name': ['Walmart', 'Target', 'Costco', 'Aldi', 'Trader Joe\'s', 'Safeway', 'Kroger', 'Walmart', 'Whole Foods', 'Sprouts'],
'City': ['Los Angeles', 'San Francisco', 'San Diego', 'San Jose', 'Sacramento', 'Fresno', 'Oakland', 'Los Angeles', 'Santa Clara', 'Pasadena'],
'Annual_Revenue_Millions': [450, 320, 480, 190, 240, 260, 210, 400, 310, 150],
'Category': ['Supermarket', 'Department', 'Warehouse', 'Supermarket', 'Supermarket', 'Supermarket', 'Supermarket', 'Supermarket', 'Organic', 'Organic']
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

   Store_ID    Store_Name           City  Annual_Revenue_Millions     Category
0       101       Walmart    Los Angeles                      450  Supermarket
1       102        Target  San Francisco                      320   Department
2       103        Costco      San Diego                      480    Warehouse
3       104          Aldi       San Jose                      190  Supermarket
4       105  Trader Joe's     Sacramento                      240  Supermarket
5       106       Safeway         Fresno                      260  Supermarket
6       107        Kroger        Oakland                      210  Supermarket
7       108       Walmart    Los Angeles                      400  Supermarket
8       109   Whole Foods    Santa Clara                      310      Organic
9       110       Sprouts       Pasadena                      150      Organic

#### How would you filter the DataFrame to get stores located in either 'Los Angeles' or 'San Diego'?

In [8]:
df[df.isin(['Los Angeles', 'San Diego']).loc[:,'City']]

   Store_ID Store_Name         City  Annual_Revenue_Millions     Category
0       101    Walmart  Los Angeles                      450  Supermarket
2       103     Costco    San Diego                      480    Warehouse
7       108    Walmart  Los Angeles                      400  Supermarket

#### Can you use isin to find out which stores in the DataFrame have an annual revenue of either 450 or 480 million?

In [13]:
df[df.isin({'Annual_Revenue_Millions' : [450, 480]}).loc[:,'Annual_Revenue_Millions']]

   Store_ID Store_Name         City  Annual_Revenue_Millions     Category
0       101    Walmart  Los Angeles                      450  Supermarket
2       103     Costco    San Diego                      480    Warehouse

#### How would you use isin to identify rows where the store name is either 'Walmart' or 'Aldi'?

In [14]:
df[df.isin({'Store_Name' : ['Walmart', 'Aldi']}).loc[:,'Store_Name']]

   Store_ID Store_Name         City  Annual_Revenue_Millions     Category
0       101    Walmart  Los Angeles                      450  Supermarket
3       104       Aldi     San Jose                      190  Supermarket
7       108    Walmart  Los Angeles                      400  Supermarket

#### Imagine you have a list selected_cities = ['Sacramento', 'Oakland']. How would you use the is in method to filter the DataFrame based on this list?

In [16]:
selected_cities = ['Sacramento', 'Oakland']

In [19]:
df[df.isin(selected_cities).loc[:, 'City']]

   Store_ID    Store_Name        City  Annual_Revenue_Millions     Category
4       105  Trader Joe's  Sacramento                      240  Supermarket
6       107        Kroger     Oakland                      210  Supermarket

#### Can you identify which rows have the store category either as 'Organic' or 'Warehouse'?

In [20]:
df[df.isin({'Category' : ['Organic', 'Warehouse']}).loc[:,'Category']]

   Store_ID   Store_Name         City  Annual_Revenue_Millions   Category
2       103       Costco    San Diego                      480  Warehouse
8       109  Whole Foods  Santa Clara                      310    Organic
9       110      Sprouts     Pasadena                      150    Organic

#### How would you use the isin method to exclude rows where the store name is 'Trader Joe's'?

In [24]:
df[~df.isin({'Store_Name' : ['Trader Joe\'s']}).loc[:,'Store_Name']]

   Store_ID   Store_Name           City  Annual_Revenue_Millions     Category
0       101      Walmart    Los Angeles                      450  Supermarket
1       102       Target  San Francisco                      320   Department
2       103       Costco      San Diego                      480    Warehouse
3       104         Aldi       San Jose                      190  Supermarket
5       106      Safeway         Fresno                      260  Supermarket
6       107       Kroger        Oakland                      210  Supermarket
7       108      Walmart    Los Angeles                      400  Supermarket
8       109  Whole Foods    Santa Clara                      310      Organic
9       110      Sprouts       Pasadena                      150      Organic

#### If you had a Series s = pd.Series([101, 103, 105]), how would you use isin to filter rows in the DataFrame with matching Store_IDs?

In [25]:
s = pd.Series([101, 103, 105])

In [28]:
s.values

array([101, 103, 105])

In [32]:
df[df.isin({'Store_ID' :list(s.values)}).loc[:, 'Store_ID']]

   Store_ID    Store_Name         City  Annual_Revenue_Millions     Category
0       101       Walmart  Los Angeles                      450  Supermarket
2       103        Costco    San Diego                      480    Warehouse
4       105  Trader Joe's   Sacramento                      240  Supermarket

#### How can you combine isin with the ~ operator to filter out rows where the city is either 'San Francisco' or 'Santa Clara'?

In [36]:
df[df.isin(['San Francisco', 'Santa Clara']).loc[:,'City']]

   Store_ID   Store_Name           City  Annual_Revenue_Millions    Category
1       102       Target  San Francisco                      320  Department
8       109  Whole Foods    Santa Clara                      310     Organic

In [38]:
df['City'].values

array(['Los Angeles', 'San Francisco', 'San Diego', 'San Jose',
       'Sacramento', 'Fresno', 'Oakland', 'Los Angeles', 'Santa Clara',
       'Pasadena'], dtype=object)

#### Can you find out which stores are not categorized as 'Supermarket' using the isin method?

In [40]:
df[~df.isin({'Category' : ['Supermarket']}).loc[:,'Category']]

   Store_ID   Store_Name           City  Annual_Revenue_Millions    Category
1       102       Target  San Francisco                      320  Department
2       103       Costco      San Diego                      480   Warehouse
8       109  Whole Foods    Santa Clara                      310     Organic
9       110      Sprouts       Pasadena                      150     Organic

#### Imagine there's an external list of store names for a promotion. 

#### How would you use the isin method to filter only the rows of the DataFrame that match the store names in this list?

In [45]:
l = ['Target', 'Walmart', 'Whole Foods']

In [46]:
df[df.isin({'Store_Name' : l}).loc[:, 'Store_Name']]

   Store_ID   Store_Name           City  Annual_Revenue_Millions     Category
0       101      Walmart    Los Angeles                      450  Supermarket
1       102       Target  San Francisco                      320   Department
7       108      Walmart    Los Angeles                      400  Supermarket
8       109  Whole Foods    Santa Clara                      310      Organic